@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian:wght@100..900&display=swap");
.example {
  background: url("../../../public/images/ExampleTwo/background.jpg") no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  &__content {
    width: 1000px;
    height: auto;
    text-align: center;
    color: white;

    &-title {
      h1 {
        margin-top: 30px;
        font-size: 40px;
      }
      @media (max-width: 500px) {
        h1 {
          font-size: 30px;
        }
      }
    }
    &-for {
      img {
        width: 500px;
      }
      @media (max-width: 500px) {
        img {
          width: 300px;
        }
      }
    }
    &-date {
      p {
        font-size: 40px;
        margin-bottom: 30px;
      }
      &-time {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        p {
          display: flex;
          flex-direction: column;
          font-size: 100px;
          span {
            font-size: 30px;
          }
        }
      }
      svg {
        font-size: 150px;
      }
      @media (max-width: 768px) {
        &-time {
          gap: 10px;
          p {
            font-size: 60px;
            span {
              font-size: 20px;
            }
          }
        }
      }
    }
    &-agenda {
      &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 30px;
          width: 80%;
          margin: 0 auto 30px auto;
          &:nth-child(4) {
            width: 300px;
            margin-bottom: 20px;
          }
        }
        h2 {
          font-size: 150px;
          margin-bottom: 50px;
        }
        img {
          margin-bottom: 50px;
          width: 300px;
        }
        span {
          font-size: 35px;
          font-weight: bold;
          margin-bottom: 30px;
        }
        h6 {
          font-size: 30px;
          font-weight: normal;
          margin-bottom: 50px;
        }
        button {
          padding: 15px 50px;
          border: 1px solid white;
          border-radius: 30px;
          background-color: #a98e7d;
          color: white;
          font-weight: bold;
        }
      }
      &-boxTwo {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 500px;
        }
        p {
          font-size: 30px;
          margin-bottom: 20px;
        }
        span {
          font-size: 35px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        h6 {
          font-size: 30px;
          font-weight: normal;
          margin-bottom: 50px;
        }
        button {
          padding: 15px 50px;
          border: 1px solid white;
          border-radius: 30px;
          background-color: #a98e7d;
          color: white;
          font-weight: bold;
          margin-bottom: 50px;
        }
      }
      &-boxThree {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 500px;
          margin-bottom: 50px;
        }
        p {
          font-size: 30px;
          margin-bottom: 20px;
        }
        span {
          font-size: 25px;
          margin-bottom: 50px;
        }
        form {
          width: 100%;
          margin: 50px auto 0;
          max-width: 500px;

          .data {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;

            select,
            input[type="text"],
            input[type="number"] {
              width: 100%;
              height: 50px;
              padding: 5px 20px;
              background-color: transparent;
              font-size: 20px;
              border: 0;
              color: white;
              border-bottom: 1px solid white;
              &:focus {
                outline: none;
              }
            }
          }

          button {
            padding: 15px 50px;
            border-radius: 30px;
            background-color: #a98e7d;
            color: white;
            border: none;
            font-weight: bold;
            width: 200px;
            margin: 10px auto;
          }
        }
      }
      @media (max-width: 900px) {
        &-box {
          h2 {
            font-size: 100px;
          }
        }
      }
      @media (max-width: 768px) {
        &-box {
          h2 {
            font-size: 60px;
          }
        }
      }
      @media (max-width: 500px) {
        &-box {
          h2 {
            font-size: 40px;
          }
          img {
            width: 200px;
          }
        }
        &-boxThree {
          img {
            width: 200px;
          }
        }
        &-boxTwo {
          img {
            width: 200px;
          }
        }
      }
    }
  }
}
button {
  cursor: pointer;
  a {
    color: white;
    text-decoration: none;
  }
}
