@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

:root {
  --green: #006039;
  --gold: #a37e2c;
  --lightGreen: #9eca9e;
  --lightGold: #c9c08f;
  --white: whitesmoke;
}
body {
  font-family: "EB Garamond";
  // font-family: "Noto Sans Armenian";
}
